.body{
    margin:0;
    padding: 0;
    background-color: #68B0E0;
}
.header{
    margin-bottom: -2.5%;
}
.header h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    text-align: center;
}
.foto404 img{
    margin-left: 30%;
    margin-top: 2%;
    width: 40%;
    justify-content: center;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    display: flex;
    justify-content: center;
}
.dario img{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100px);
}
@keyframes palabra{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section2{
    display: flex;
    flex-wrap: wrap;
}
.buscador{
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buscar{
    margin-left: 2%;
}
.buscar input{
    padding: 9px 10px 9px 32px;
    width: 4%;
    border-radius: 15px;
    outline: none;
    border: 3px solid #7F44AA;
    background: #fff url("search.icon.png") no-repeat 7px center;
    transition: all 2s;
}
.buscar input:hover{
    width:16.5%;
    background-color: #fff;
    border-color: rgb(11, 68, 182);
}
.barassimovil{
    transform: translateY(200px);
    margin-top: -10%;
}
.barassimovil img{
    width: 40%;
    animation-name: auto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.humo img{
    overflow: hidden;
    width: 10%;
}
.humo{
    animation-name: humo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes humo {
    0%{
        transform: translate(-120px, 70px);
        opacity: 0%;
    }
    10%{
        opacity: 0%;
    }
    20%{
        opacity: 100%;
    }
    30%{
        opacity: 0%;
    }
    40%{
        opacity: 100%;
    }
    50%{
        opacity: 0%; 
    }
    60%{
        opacity: 100%; 
    }
    70%{
        opacity: 0%; 
    }
    80%{
        opacity: 100%; 
    }
    90%{
        opacity: 0%; 
    }
    100%{
        transform: translate(480px, 70px);
        opacity: 100%;
    }
     
}
.calle img{
    width:100%;
    margin-bottom: -15%;
}

@keyframes auto {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(600px)
    }
    
}
.cartel{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-200px);
    justify-content: flex-end;
}
.cartel img{
    width: 11%;

}
.cartel h3{
    font-family: 'Shadows Into Light', cursive;
    transform: translateX(110px);
    text-align: center;
    font-size: 28px;
    color: white;
}
.cartel a{
    text-decoration: none;
    color: #68B0E0;
}
.cartel a:hover{
    color: rgb(255, 113, 113);
}
.footer{
    width: 100%;
    font-size: 20px;;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
    background-color: #848484;
    margin-top: -4%;
}
.contenedora{
    display: none;
}

@media screen and (max-width: 580px){
.header h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 32px;
    text-align: center;
    margin:1%;
    margin-top: 7%;
    background-color:rgb(150, 48, 181)
    }
.foto404 img{
     margin-left: 10%;
     margin-top: 7%;
     width: 80%;
     justify-content: center;
    }
.buscador{
    text-align: center;
    font-size: 15px;
}
.buscar input:hover{
    width:40%;
    background-color: #fff;
    border-color: rgb(11, 68, 182);
}
.barassimovil{
    display: none;
}
.cartel{
    display: none;
}
.calle{
    display: none;
}
.contenedora{
    display: flex;
    margin-bottom: -4%;
}
@keyframes movimiento {
    0%{
       transform: rotate(-2deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
.explicando img{
    width: 100%;
}
.mano img{
    width: 30%;
    position: absolute;
    right: 30%;
    bottom: 14%;
    animation-name: movimiento;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform:rotate(15deg);
}
.texto2{
    position: absolute;
    right: 49%;
    bottom: 20%;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    text-align: center;
    transform: rotate(-8deg);
    line-height : 50px;
}
.texto2 a{
    text-decoration: none;
    background-color: rgb(113, 28, 138);
    color: white; 
    border-radius: 5px;
    padding: 3%;
}
}